ul{
    list-style: none;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items:center;
}

#logo{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;

}

#container{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    width: 70%;
}

#moon{
    width: 48px;
    height: 44px;
    display: flex;
    justify-content: center;
}

.root{
   display: flex;
   justify-content: center;
}
